extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style
      include ../static/style.css

block content
     
    
     section#introSection 
        div Welcome to the Best Dance Academy
        div.small Eat Sleep Dance Repeat

     section#missionSection
        h2 Our Mission
        div.card.firstpic
            h3 Dance experts
           
        div.card.secondpic
            h3 Dance culture
          
        div.card.thirdpic
            h3 Dancing Perfection 
            
     section#sponsorsSection
        h2 Our Sponsors
        div#sponsors
            img(src="/static/logo2.png", alt="Sponsor Image",class ="spImage")
            img(src="/static/logo3.png", alt="Sponsor Image",class ="spImage")
            img(src="/static/logo4.png", alt="Sponsor Image",class ="spImage")
            img(src="/static/logo5.png", alt="Sponsor Image",class ="spImage")